.card {
    background-color: white;
    color: black;
    height: 300px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .name {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .bought {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
  }
  
  .me {
    font-size: 2em;
    font-weight: bold;
    color: green;
}