.space{
    width: 100px;
    height: 150px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
  }
  
  .region{
    height: 30px;
  }
  
  .name{
    font-weight: bold;
  }
  
  .price{
    margin-top: auto;
  }