#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000; /* Ensure the header stays on top */
}
.searchBox {
  width: 600px;
  position: relative; /* Add position relative to the search box */
}
.searchBox input {
  width: calc(100% - 30px); /* Adjust width of input to accommodate the icon */
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  outline: none;
}
.searchBox .material-icons {
  position: absolute; /* Position the icon absolutely */
  top: 50%; /* Center the icon vertically */
  right: 10px; /* Adjust position of the icon from the right */
  transform: translateY(-50%); /* Center the icon vertically */
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  margin-right: 20px; /* Add margin to separate the title and search box */
}
.searchButton, .luckyButton{
  margin-right: 10px;
  margin-top: 20px;
}
.searchResults {
  margin-top: 50px;
  font-style: normal;
  text-align: left;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-start; /* Align items to the start */
}
.searchResultItem {
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 0; /* Reset left margin to align with React results */
}
/* Apply the same styling to the elements inside searchResultItem */
.searchResultItem > * {
  display: block;
  margin-bottom: 5px;
}
/* Apply indent to second item and after */
.searchResultItem:nth-child(n+2) {
  margin-left: 20px; /* Add left margin to create an indent */
}
/* Stack title, URL, and description vertically */
.searchResultItem > * {
  display: block; /* Change the display to block */
  margin-bottom: 5px; /* Add margin bottom for separation */
}
.arrow {
  display: inline-block;
  width: 10px; /* Set the width of the arrow */
  height: 15px; /* Set the height of the arrow */
  border-left: 2px solid white;
  border-right: 5px solid transparent;
  border-top: 2px solid white;
  margin-left: 5px; /* Adjust margin as needed */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}
.expanded {
  transform: rotate(180deg);
}
.askResults {
  text-align: left;
}